.home-page {
    h1 {
        box-sizing: border-box;
        text-align: center;
        padding: 4rem 3rem;
        color: #112d4e;
        margin-top: 0;
        margin-bottom: 0;
    }

    background-color: #f9f7f7;
}